linux32
.deps
autom4te.cache
missing
install-sh
INSTALL
depcomp
configure
Makefile
Makefile.in
aclocal.m4
bristolgui
compile
libtool
*.pc
*.sh
ltmain.sh
*.la
.libs
config.*
*.lo
*.o
*.so
m4
*.deb
Packaging
.dirstamp
.deps
callgrind.out.*
gmon.out
*.dot
